
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
<h2 style="margin-left: 20px">{{ title }}</h2>
<form action="/dashboard/edit_config" method="post" accept-charset="utf-8">
<ul class="clearfix unstyled inline form-inline">
    <li style="margin-top: 10px">
        <label   style="margin-left: 12px">宵禁开始时间：</label>
        <input type="text" name="nightStart" value="{{ switchs.night_ban_time_start }}"  style="margin-right: 25px">
    </li>
    <li style="margin-top: 10px">
        <label  style="margin-left: 12px">宵禁结束时间：</label>
        <input type="text" name="nightEnd" value="{{ switchs.night_ban_time_end }}"  style="margin-right: 25px">
    </li>
</ul>
    <!--<input type="submit" value="提交">-->
<input class="btn" type="submit" style="margin-left: 200px" value="提交">
</form>
</body>
</html>